# direnv configuration file: https://direnv.net/
#
# this file exports some default environment variables for this directory
# this is useful for development, but not strictly necessary
# (we can't be too dependent on it because it's not available on Windows)
# you can add a .envrc.user and/or a .env (export statements only) file in this directory to add local settings
# those files should not be committed
# .env is loaded after .envrc.user
# your .env and .envrc.user files can override any environment variables set in this file
#
# some environment variables you may want to set for local configuration include:
#
# SKIP - comma-separated list of pre-commit hook IDs that will be skipped
# CMAKE_APPLE_SILICON_PROCESSOR - tell CMake if your Mac is an M1 (arm64) or not (x86_64)
# EMSCRIPTEN_ROOT  - path to the root of the Emscripten SDK. This file attempts to locate it automatically but your .env can override it.
# ANDROID_NDK_ROOT - path to the Android NDK to use. This file attempts to locate it automatically but your .env can override it.
# IOS_SIMULATOR_DEVICE_ID     - device ID of simulator to use for running iOS tests
# TVOS_SIMULATOR_DEVICE_ID    - device ID of simulator to use for running tvOS tests
# WATCHOS_SIMULATOR_DEVICE_ID - device ID of simulator to use for running watchOS tests
#
# see CMake's environment variables documentation: https://cmake.org/cmake/help/latest/manual/cmake-env-variables.7.html

strict_env
direnv_version 2.32.2

source_env linfra/.envrc

source_env_if_exists .envrc.user
dotenv_if_exists .env
